
<!DOCTYPE html>
<html>
  <head>

    </style>
    <meta charset="utf-8">
    <title>Vacation</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="Title">Choose Your City!</h1>
    <div id="box">
      <div id="top">
        <section id="topright">
        <a href="/losangelos">Los Angelos</a>
        </section>

        <section id="topmiddle">
        <a href="/sanantonio">San Antonio</a>
        </section>

        <section id="topleft">
        <a href="/chicago">Chicago</a>
        </section>

      </div>
        <h1 class="Title" id="CityName">
          {{CityName}}
        </h1>
        <section id="geocode">
          <p>{{temperature}}</p>
        </section>
      <div id="middle">
        <section id= "middleright">
          <img src="{{imgone}}">
        </section>

        <section id="middlemiddle">
            <img src="{{imgtwo}}">
        </section>
        <section id="middleleft">
              <img src="{{imgthree}}">
        </section>
      </div>
      <div id="footer">
        Copy Right Paly WebDev {{getCurrentYear}}

      </div>
    </div>

  </body>
</html>
